@tailwind base;
@tailwind components;
@tailwind utilities;

/* landing page - Hero */
.text-shadow-sm {
  text-shadow: 2px 2px #00000050;
}

.gabarito {
  font-family: var(--font-gabarito);
}

.nosifer {
  font-family: var(--font-nosifer);
}

.font-outline-2 {
  -webkit-text-stroke: 1px white;
}

.font-outline-2-dark {
  -webkit-text-stroke: 1px black;
}
